<section>
    
    <form class="login-form" ng-submit="login()">
        <h4>Inicio de session</h4>
    
        <div class="inputStyle" id="input">
            Usuario<br/>
            <input type="text" ng-model="user.email" required/><br/>
        </div>
        <div class="inputStyle" id ="Div1">
            Contraseña<br/> 
            <input type="password" ng-model="user.password" required/><br />
        </div>
        
        
        <div id="submit">
            <button type="submit" class ="btn">Log In</button>
          
        </div>
        
      


        <div ng-show="error" class="alert alert-dismissable alert-danger" style="margin-top: 20px;">
            <button type="button" class="close" data-dismiss="alert">×</button>
            <strong>Session invalida</strong>
            {{error}}
        </div>
        
        

    </form>


</section>